################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/x64/SQLite.Interop.dll
/bin/Debug/x86/SQLite.Interop.dll
*.config
